<div class="modal-header">
    <button ng-click="modalVm.close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title addFruit">{{modalVm.title}}</h3>
</div>
<div class="modal-body" ng-include="'app/views/modal-body.tmpl.html'">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="fruitAddForm.$invalid" ng-click="modalVm.addFruit(fruitAddForm.$valid)">{{modalVm.btnTxt}}</button>
    <button class="btn btn-warning" ng-click="modalVm.close()">Cancel</button>
</div>