<div ng-controller="FruitController as fruitVm" class="container-fluid">
    <div class="row fruitCatalog">
        <div class="form-group col-sm-3">
            <label class="filterLabel">Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search Fruit by Title">
        </div>

        <div class="form-inline sortOrder col-sm-3">
            <select ng-model="sortKey" ng-change="fruitVm.sort(sortKey)" class="form-control">
                <option value="">--- Sort Fruit Catalog By ---</option>
                <option value="vote">Vote</option>
                <option value="title">Title</option>
            </select>
            <span ng-click="fruitVm.sortOrderChange()" class="glyphicon glyphicon-sort"></span>
        </div>
    </div>
    <div class="row fruitCatalog">
        <div class="col-sm-3" ng-click="fruitVm.addFruit()" ng-show="fruitVm.addFlag">
            <div class="add">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
        <div class="col-sm-3" ng-repeat="fruit in fruitVm.fruits | orderBy:sortKey:!fruitVm.reverse | filter:{title:search}| limitTo:fruitVm.itemsPerPage:(fruitVm.currentPage-1)*fruitVm.itemsPerPage">

            <img class="img-responsive img-rounded" ng-src="{{fruit.poster}}"/>
            <div class="textbox">
                <span ng-click="fruitVm.deleteFruit(fruit)" ng-show="fruitVm.deleteFlag" class="glyphicon glyphicon-trash"></span>
                <span ng-click="fruitVm.updateFruit(fruit)" ng-show="fruitVm.updateFlag" class="glyphicon glyphicon-edit"></span>
                <div ui-sref="fruit-details({ title:fruit.title })" >
                    <div class="title">
                        <p>{{fruit.title}}</p>
                    </div>

                    <div class="vote">
                        <p>User Vote: {{fruit.vote}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paginateFruit">
        <uib-pagination total-items="fruitVm.length" items-per-page="{{fruitVm.itemsPerPage}}" max-size="5" boundary-links="true" class="pagination-sm" ng-model="fruitVm.currentPage" rotate="false" ng-change="fruitVm.pageChanged()"></uib-pagination>
    </div>
</div>