<div ng-controller="UserController as userVm" class="container-fluid" id="home">
    <uib-tabset active="0">
        <uib-tab index="0" heading="Sign In">
            <h6>Sign In</h6>
            <form name="signInForm" role="form" ng-submit="userVm.signIn(signInForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="email">Email Id</label>
                    <input type="email" name="email" class="form-control" id="email" ng-model="userVm.email" placeholder="example@domain.com" required>
                    <div class="error" ng-messages="signInForm.email.$error"  ng-if="signInForm.email.$dirty">
                        <p ng-message="required">Email is required</p>
                        <p ng-message="email">Email is invalid</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" minlength="5" class="form-control" id="password" ng-model="userVm.password" placeholder="Password" required>
                    <div class="error" ng-messages="signInForm.password.$error"  ng-if="signInForm.password.$dirty">
                        <p ng-message="required">Password is required</p>
                        <p ng-message="minlength">Password must be 5 characters or more</p>
                    </div>
                </div>
                <div class="error">
                    <p  ng-show="userVm.userNotFound">Invalid SignIn Details</p>
                </div>
                <div class="text-center">
                    <button type="submit" ng-disabled="signInForm.$invalid" class="btn large-btn btn-primary signin">Sign In</button>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" heading="Sign Up">
            <h6>Enter the User Details</h6>
            <form name="signUpForm" role="form" ng-submit="userVm.signUp(signUpForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" ng-model = "userVm.newUser.firstName" placeholder="Enter Your First Name" required>
                    <div class="error" ng-messages="signUpForm.firstName.$error"  ng-if="signUpForm.firstName.$dirty">
                        <p ng-message="required">First Name is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="form-control" id="lastName" ng-model = "userVm.newUser.lastName" placeholder="Enter Your Last Name" required>
                    <div class="error" ng-messages="signUpForm.lastName.$error"  ng-if="signUpForm.lastName.$dirty">
                        <p ng-message="required">Last Name is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="regEmail">Email</label>
                    <input type="email" name="email" class="form-control" id="regEmail" ng-model = "userVm.newUser.email" placeholder="example@domain.com" required>
                    <div class="error" ng-messages="signUpForm.email.$error"  ng-if="signUpForm.email.$dirty">
                        <p ng-message="required">Email is required</p>
                        <p ng-message="email">Email is Invalid</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="regPassword">Password</label>
                    <input type="password" name="password" minlength="5" class="form-control" id="regPassword" ng-model = "userVm.newUser.password" placeholder="Enter your password" required>
                    <div class="error" ng-messages="signUpForm.password.$error"  ng-if="signUpForm.password.$dirty">
                        <p ng-message="required">Password is required</p>
                        <p ng-message="minlength">Password must be 5 characters or more</p>
                    </div>
                </div>
                <div class="error">
                    <p  ng-show="userVm.userAlreadyExists">Email is already Registered</p>
                </div>
                <div class="text-center">
                    <button type="submit" ng-disabled="signUpForm.$invalid"class="btn large-btn btn-primary signup">Sign Up</button>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>
